:root {
  --spacing-medium: 1rem;
  --spacing-small: 0.5rem;
}

body {
  font-family: 'Avenir Next', Avenir, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: var(--spacing-medium);
}

#messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: var(--spacing-medium);
}

input {
  width: 100%;
  padding: var(--spacing-small);
  border: 1px solid #ddd;
  border-radius: 8px;
}
